/* AnimalUpdate.css */

.response-info {
  background-color: #f4f4f4; /* Background color for the section */
  padding: 40px 0; /* Adjust padding as needed */
}

.container-res {
  max-width: 800px;
  margin: 0 auto;
}

.response-heading {
  font-size: large;
  text-align: center;
  margin-bottom: 20px;
}

/* Adjusted search container position */
.search-container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 20px; /* Add some spacing if needed */
}

.search-container input {
  width: 200px; /* Set the desired width */
  padding: 8px; /* Adjust padding as needed */
  font-size: 14px; /* Adjust font size as needed */
  /* Add any other styles you want to customize */
}

.res-table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Impressive box shadow */
}

.res-table th, .res-table td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd; /* Border color between rows */
}

.res-table thead th {
  background-color: #8B4513; /* Brown background color for header */
  color: #fff; /* White text color for header */
  font-size: large;
}

.res-table tbody tr:nth-child(even) {
  background-color: #ebebeb; /* Background color for even rows */
}

.res-table tbody tr:hover {
  background-color: #d2d2d2; /* Background color on hover */
}

.res-table td {
  font-size: medium; /* Increased font size */
}

/* Optional: Add hover effect to rows */
.res-table tbody tr:hover {
  transform: scale(1.02); /* Scale on hover for an impressive effect */
  transition: transform 0.2s ease-in-out;
}
