/* Response.css */

.section-res {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh; /* Full viewport height */
}

.response-content{
  margin-top: 0;
  margin-bottom: 1px;
  
}

.response-container {
  max-width: 600px; /* Reduced container size */
  width: 100%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white container background */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.res-heading {
  text-align: center;
  margin-bottom: 20px;
  font-size: x-large;
}

.res-form-group {
  margin-bottom: 20px;
}

.res-label-content {
  display: block;
  margin-bottom: 8px;
  font-size: 15px; /* Increased label size */
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

button.login-submit {
  width: 100%;
  padding: 12px;
  background-color: #8B4513; /* Brown background color */
  color: #fff; /* White text color */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

button.login-submit:hover {
  background-color: #5A2F0D; /* Darker brown on hover */
}
